.footer-div {
  width: 100%;
  min-height: 2.25rem;
  bottom: 0;
  background-color:white;
  color: white;
  padding-top: 1rem;
  /* box-shadow: 0px 0px 8px 0px #000000; */
  margin-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact-info {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.contact-buttons{
  margin-left: 0.5rem;
  margin-right: 0rem;
  background: none;
  border: none;
  transition: 0.3s;
  border: none !important;
  outline: none !important;
  text-align:justify;
}
a{
  font-size: 15px;
  line-height: 45px;
  color: black;
  padding-left: 10px;
}
.contact-logo {
  float: left;
  display: block;
  max-width: 60px;
  height: auto;
}
a:hover {
  cursor: pointer;
  opacity: 0.2;
}
