/* GENERAL */
.tengeru-div{
    position: relative;
    top: -3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.subheader{
    font-size: 30px;
    text-align: left;
}
.TZsubheader2{
    font-size: 22px;
    text-align: center;
}
.TZsubheader3{
    font-size: 20px;
    text-align: left;
}
.general-format{
    padding-left: 2rem;
    padding-right: 2rem;
}
.tengeru-div hr {
    width: 20%;
    height: 3px;
    background: black;
    border: none;
  }
/* HEADER IMAGE SECTION */
.header-block-div{
    position: relative;
    height: 55vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tengeru-div .header-block-div:before{
    content: "";
    background-image: url(../../images/TZ-kili_sunrise.JPG);
    background-size: cover;
    position: absolute;
    background-repeat: none;
    background-position: 50% 60%;
    background-attachment: fixed;
    opacity: 0.9;
    background-color:darkgrey;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.5;
}
.project-title{
    position: relative;
    color: black;
    font-size: 3.5vw;
    text-align: left;
    margin-left: 3vw;
    margin-right: 40vw;
}
/* SIDE NAVBAR */
.project-nav-image {
    width: 20vh;
    box-shadow: 0px 0px 10px 1px #535353;
    margin: 1rem;
    transition: 0.25s;
  }
.project-nav-image:hover {
    opacity: 0.5;
    cursor: pointer;
}
.project-page-sideNav {
    display: flex;
    float: left;
    flex-direction: column;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
.project-nav-title{
    font-size: 20px;
    font-weight: bold;
    
}
/* STORY SECTION */
.TZ-intro-div p{
    font-size: 15px !important;
    text-align: left;
    padding-bottom: 0.5rem;
}

.TZcollage{
    width: 80%;
    padding-bottom: 1rem;
}

/* PROJECT HIGHLIGHTS SECTION */
.TZprojects-div{
    padding-left: 2rem;
    padding-right: 2rem;
}
/* Design Process Grid */
.TZprocess-grid{
    display: grid;
    gap: 1rem;
    grid-auto-flow: column; 
    margin: 0 0 1rem 0;
    height: 25rem;
}
.TZprocess-block-area {
    position: relative;
    width: 100%;
    height: 100%;
}
.flip-block-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.TZprocess-block-area:hover .flip-block-inner{
    transform: rotateX(180deg);
}
.flip-block-front, .flip-block-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-block-front{
    background-color:none;
    align-items: center;
}
.TZprocess-image{
    display: block;
    max-height: 70%;
    width: auto;
    margin: auto;
}
.flip-block-back{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0.7;
    transform: rotateX(180deg);
}
.TZprocess-title {
    color: black;
    font-size: 18px;
  }
.TZprocess-description-sm {
    font-size: 0.95vw;
    color: white;
    text-align: left;
    padding: 0px 20px;
}
.process-description-m {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0px 20px;
}
.TZprocess-description-list{
    font-size: 0.95vw;
    text-align: left;
    padding-left: 30px;
    padding-right: 20px;
}
/* Final Design */
.TZpartitions-results {
    padding-left: 20vh;
    margin-left: 2rem;
}
.TZpartitions-grid{
    display: grid;
    gap: 0.2rem;
    grid-auto-flow: column; 
    margin: 0 0 0.2rem 0;
    height: 25rem;
    padding-bottom: 1rem;
}
.TZpartitions-img {
    width: 90%;
    padding-top: 4vw;
}
.TZpartitions-imgT{
    width: 70%;
    padding-left: 2.5vw;
}
