/* GENERAL */
.tengeru-div{
    position: relative;
    /* top: -3rem; */
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}
.TZsubheader{
    font-size: 2vw;
    text-align: left;
    margin-left: 4vw;
}
.TZsubheader2{
    font-size: 1.5vw;
    text-align: left;
    margin-left: 4vw;
}
.TZsubheader3{
    font-size: 1.5vw;
    text-align: left;
    margin-left: 4vw;
}
.general-format{
    padding-left: 4vw;
    padding-right: 4vw;
}

/* HEADER IMAGE SECTION */
.header-block-div{
    position: relative;
    height: 40vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tengeru-div .header-block-div:before{
    content: "";
    background-image: url(../../images/TZ-kili_sunrise.JPG);
    background-size: cover;
    position: absolute;
    background-repeat: none;
    background-position: 50% 60%;
    background-attachment: fixed;
    opacity: 0.9;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.5;
}
.TZ-project-title{
    position: relative;
    color: black;
    font-size: 3vw;
    text-align: left;
    margin-left: 12vw ;
    margin-right: 40vw;
    margin-top: 10px;
}
.TZ-project-title-sm{
    position: relative;
    color: black;
    font-size: 1.8vw;
    text-align: left;
    margin-left: 12vw;
    margin-right: 50vw;
    margin-bottom: 10px;
}
/* BACKGROUND SECTION */
.TZbackground-div{
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding-top: 1rem;
}
.TZbackground-text {
    font-size: calc(12px + 0.25vw);
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    padding-left: 4vw;
    padding-right: 2vw;
}
.TZbackground-img{
    position: relative;
    width: 40%;
    height: 40%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 3vw;
    padding-left: 2vw;
    padding-right: 4vw;
}
/* WORK SECTION */
.TZwork-div{
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.TZwork-text{
    font-size: calc(12px + 0.25vw);
    text-align: left;
    padding-bottom: 2px;
    padding-left: 4vw;
    padding-right: 2vw;
}
.TZwork-text-ul{
    font-size: calc(12px + 0.22vw);
    text-align: left;
    padding-left: 6vw;
}
.TZwork-text-ul li{
    padding-bottom: 2px;
}
.TZwork-img{
    position: relative;
    width: 45%;
    height: 45%;
    transform: translate(0%, 20%);
    margin-top: 4vw;
    padding-left: 2vw;
    padding-right: 4vw;
}

/* PARTITIONS SECTION */
.TZpartitions-div{
    padding-top: 2vw;
}
.TZpartitions-text{
    font-size: calc(12px + 0.25vw);
    text-align: left;
    padding-left: 4vw;
    padding-right: 4vw;
}
.TZpartitions-grid{
    display: grid;
    gap: 2rem;
    grid-auto-flow: column; 
    margin: 0 0 0.2rem 0;
    padding-bottom: 1rem;
    padding-left: 8vw;
    padding-right: 8vw;
}

.accordion-div{
    position: absolute;
    max-width: 20vw;
    top: -16%;
    background-color: rgb(182, 202, 223, 0.5) !important;
}
.TZprocess-area{
    position: relative;
    max-width: 20vw;
    width: 100%;
    height: 100%;
}
.TZprocess-title{
    position: relative;
    left: 50%;
    /* top: 10%; */
    padding-top: 0px;
    transform: translate(-45%, -10%);
    color: black;
    font-size: calc(14px + 0.3vw);
    width: 100%;
    text-align: center !important;
}
.TZprocess-img{
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 10px;
}
.TZprocess-text{
    position: relative !important;
    text-align: left;
    color: black;
    font-size: calc(12px + 0.2vw) !important;
    /* background-color:rgb(192, 188, 188); */
}

/* RESULTS DIV */

.TZpartitions-img{
    width: 70vw;
    height: auto;
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
/* LESSONS SECTION */
.TZlessons-div{
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding-top: 1rem;
}
.TZlessons-text{
    font-size: calc(12px + 0.25vw);
    text-align: left;
    padding-bottom: 2px;
    padding-left: 4vw;
    padding-right: 2vw;
}
.TZlessons-img-div{
    display: grid;
    grid-auto-flow: row;
}
.TZlessons-img{
    width: 35vw;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 4vw;
    padding-left: 2vw;
    padding-right: 4vw;
}

