/* GENERAL */
.warmer_DP-div{
    position: relative;
    /* top: -3rem; */
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.subheader{
    font-size: 2vw;
    text-align: left;
    margin-left: 4vw;
    margin-right: 4vw;
}
.subheader2{
    font-size: 1.5vw;
    text-align: left;
    margin-left: 4vw;
    margin-right: 4vw;
}
.img_description{
    font-size: 12px;
    text-align: center;
    color:slategrey;
}
.general-format{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4vw;
    padding-left: 8vw !important;
    padding-right: 8vw !important;
}
.ventilator-div hr {
    width: 20%;
    height: 3px;
    background: black;
    border: none;
  }

/* HEADER DIV */
.header-block-div{
    position: relative;
    height: 40vw !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.warmer_DP-div .header-block-div:before{
    content: "";
    background-image: url(../../images/goyalmara.png);
    background-size: cover;
    position: absolute;
    background-repeat: none;
    background-size: 100%;
    background-attachment: fixed;
    opacity: 0.7;
    background-color:darkgrey;
    top: -600px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.5;
}
.DTMproject-title{
    position: relative;
    color: black;
    font-size: 3vw !important;
    text-align: left;
    margin-left: 11vw !important;
    margin-right: 40vw;
    margin-top: 0px !important;
}
.DTMproject-title-sm{
    position: relative;
    color: black;
    font-size: 1.8vw !important;
    text-align: left;
    margin-left: 11vw !important;
    margin-right: 50vw;
    margin-bottom: 10px !important;
}

/* BACKGROUND SECTION */
.DTM-intro-div{
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding-top: 1rem;
}
.DTM-intro-text{
    font-size: 15px !important;
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    padding-left: 4vw;
    padding-right: 2vw;
}
.DTM-intro-img-div{
    display: grid;
    width: 50rem;
    grid-auto-flow: row;
    padding-right: 18vw;
}
.DTM-intro-img{
    max-width: 200%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 4vw;
    padding-right: 12vw;
}

/* Need Div */
.need-div-intro{
    /* display: flex;
    justify-content: left;
    flex-direction: row; */
}
.DTM-need-text{
    font-size: 15px !important;
    text-align: left;
    padding-bottom: 0rem;
    padding-left: 4vw;
    padding-right: 4vw;
}
.DTM-need-img-div{
    display: grid;
    gap: 4rem;
    grid-auto-flow: column; 
    margin: 0 0 0.2rem 0;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    /* padding-left: 2vw; */
    /* padding-right: 2vw; */
}
.DTM-need-area{
    display: grid;
    grid-auto-flow: column;
}
.DTM-need-left{
    transform: translateX(80px);
}
.DTM-need-left .need-img-text{
    text-align: left;
    font-size: 15px;
    padding-left: 3rem;
    padding-top: 2rem;
}
.DTM-need-img{
    max-height: 12vw;
    margin-bottom: 2rem;
    padding: 0px;
}
.DTM-need-right{
    transform: translateY(105px);
    padding-left: 5rem;
}
.DTM-need-right .need-img-text{
    text-align: left;
    font-size: 15px;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-right: 6vw;
}
.DTM-need-statement{
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 2rem;
    border: 5px solid rgba(255, 202, 28, 0.726);
}
.DTM-need-text2{
    padding-left: 4vw;
    padding-right: 4vw;
    text-align: center;
    font-size: 18px;
    margin-left: 4rem;
    margin-right: 4rem;
}
.DTM-need-text3{
    background-color: rgba(255, 202, 28, 0.726);
    font-size: 20px !important;
    padding: 10px;
    margin-left: 25rem;
    margin-right: 25rem;
    margin-bottom: 1rem;
}